header{
  padding-left: 1em;
  font-family: "Trebuchet MS", sans-serif;
  border-bottom: #0cacfc solid;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-left: .5em;
  padding-left: 1em;
  margin-top: 0.7em;
  width: 700px;
}

h1 {
  color: #3ab23e;
  text-shadow: 2px 2px 5px #81c784;
}
