footer {
  font-family: "Baskerville Old Face", sans-serif;
  font-size: 1.2em;
  font-style: italic;
  font-weight: bolder;
  border-top: #0cacfc solid;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-left: 3em;
  padding-left: 3em;
  margin-top: 3.5em;
  width: 700px;
  color: #546e7a;
}

footer .hart {
  color: #203cf5;
}
