main {
  padding-left: 2em;
  font-family: 'Wix Madefor Display', serif;
  background-color: #dddddd;

}

h2 {
  color: #00bcd4;
}

h3 {
  color: #a93434;
}

label{
  color: #6d2ec9;
}

span.error{
  color: crimson;
  font-style: oblique;
}
input:invalid + span::after {
  content: "✖";
  color: crimson;
  padding-left: 5px;
}

input:valid + span::after {
  content: "✓";
  color: green;
  padding-left: 5px;
}
