main {
  padding-left: 2em;
  font-family: 'Wix Madefor Display', serif;
}

h2 {
  color: #00bcd4;
}

h3 {
  color: lightcoral;
}

label{
  color: #673ab7;
}

span.error{
  color: crimson;
  font-style: oblique;
}
input:invalid + span::after {
  content: "✖";
  padding-left: 5px;
}

input:valid + span::after {
  content: "✓";
  padding-left: 5px;
}
